# Airflow
AIRFLOW_UID=501

# METADATA GOOGLE CLOUD
PROJECT_ID=
REGION=
BUCKET_NAME=
TOPIC_ID=
SUBSCRIPTION_ID=

# BIG QUERY DATASETS
BQ_DATASET_RAW=
BQ_DATASET_STAGING=
BQ_DATASET_INTERMEDIATE=
BQ_DATASET_MART=
BQ_DATASET_QUARANTINE=
BQ_DATASET_STREAMING=

# NOTIFY
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=